
:root{
    --web-color: #EF5030;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

.font-mas{
    font-family: 'Montserrat', sans-serif;
}



/* cac the  */

a {
    text-decoration: none;
    display: inline-block;
    color: #000;
}

button{
    background: transparent;
    border: none
}

img {
    display: block;
    width: 100%;
}

ul{
    list-style: none;
}

section{
    padding: 120px 0;
}

/* title-content */

.text-center{
    text-align: center !important;
}

.title-heading{
    font-size: 1.6rem;
    line-height: 25px;
    margin-bottom: 24px;
}

.title-heading__dec{
    font-size: 4.8rem;
    color: var(--web-color);
    margin-bottom: 24px;
    font-family: 'Montserrat', sans-serif;

}

.mg-auto{
    margin: auto;
}

.mg-0{
    margin: 0 !important;
}

.mb-96px{
    margin-bottom: 96px !important;
}

.mb-24px{
    margin-bottom: 24px !important;
}

.bgr-blue{
    background-color: #00A0D1;
}

.pt-120{
    padding-top: 120px !important;
}


