        /* pc  */

@media (min-width: 64em){
   
}
    
        /* tablet  */
    
@media (min-width: 46.25em) and (max-width: 63.9375em){
            .contact-input1{
                width: 176px; 
            
            }

            .contact-message{
                width: 100%;
            }


}
    
        /* mobile / */
    
@media (max-width: 46.1875em){
    

    #header{
        overflow: hidden;
    }
    #header div:hover .header1{
        display: block;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position: initial;
    }
 


    #header div{
        width: auto;
        display: block ;
        line-height: 46.5px;
        position: relative;
    }

    #header .search{
        display: none;
    }
}