.app{
    overflow: hidden;
    
}

.main-app{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding-bottom: 16px;
}

.header-app{
    margin-top: 16px;
    font-size: 1.6rem;
}

.song-playing{
    margin-bottom: 8px;
    color: red;
}

.header-song{
    margin-bottom: 16px;
}

.main-box__img{
    width: 200px;
    margin: auto;
}

.main-img-song{
    border-radius: 50%;
    padding-top: 100%;
    background: url(../img/maxresdefault.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.img-song{
    width: 100%;
}

.box-control{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-icon{
    width: 44px;
    height: 46px;
    margin: 12px;
}

.control-play{
    background-color: rgb(235,27,76);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playing{
    display: none;
}

.control-icon{
    font-size: 20px;
}

#progrees{
    width: 90%;
    outline: none;
    appearance: none;
    background-color: #f3f1f1;
    height: 12px;
    margin-top: 8px;
    
}

input[type=range]::-webkit-slider-thumb {
    height: 10px;
    width: 15px;
    background: #EB1B4C;
    cursor: pointer;
    -webkit-appearance: none;
  }

/* playlist */

.playlist{
    margin-top: 400px;
    background: #f1f0f0;
    padding: 16px;
    overflow: auto;
}

.playlist::-webkit-scrollbar{
    display: none;
}

.song{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    margin: 16px 0;
    background: #fff;
    padding: 8px 0;
}

.song:first-child{
    margin-top: 0;
}

.song:last-child{
    margin-bottom: 0;
}

.playlist-img-box__song{
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.playlist-img__song{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.song-des{
    margin-left: -30px;
    width: 200px;
}

.name-song{

}

.singer{
    margin-top: 4px;
    font-size: 1.4rem;
    color: #727171;
}

.song-dots{

}

.song-dots__icon{
    font-size: 25px;
}
