/* moblie */

@media (max-width: 767px){
    section{
        padding: 80px 0 0;
    }

    .mb-mobi-60px{
        margin-bottom: 60px !important;
    }

    .nav-web__container{
        height: 65px;
    }

    .slider-header__heading{
        font-size: 2.7rem;

    }

    .slider-header__dec{
        font-size: 1.1rem;
        margin: 15px 0;
    }

    .title-heading{
        font-size: 1.5rem;
    }

    .title-heading__dec{
        font-size: 3rem;

    }

    .title-new{
        font-size: 1.4rem;
    }

    .service-web{
        padding: 100px 0 50px;
        text-align: center;
    }

    .service-blog__content{
        margin-bottom: 18px;
    }

    .service-web .title-heading{
        font-size: 1.4rem;
    }

    .service-web .title-heading__dec{
        font-size: 3rem;
    }

    .service-web__dec{
        font-size: 1.3rem;

    }



    .demo-start__heading{
        font-size: 4rem;
    }

    .demo-start__dec{
        font-size: 1.2rem;
    }

   

}

/* tablet */

@media (min-width: 768px) and (max-width: 991px){
    .slider-header{
        padding-top: 50px;
    }

    .slider-header__heading{
        font-size: 5rem;

    }

    .title-heading{
        font-size: 1.8rem;
    }

    .title-heading__dec{
        font-size: 4.4rem;

    }

    .title-new{
        font-size: 1.6rem;
    }

    .service-web{
        padding-top: 200px;
    }

    .slider-header__dec{
        font-size: 1.8rem;
    }

    .service-web .title-heading{
        font-size: 1.6rem;
    }

    .service-web .title-heading__dec{
        font-size: 4rem;
    }

    .service-blog__content{
        margin-bottom: 15px;
    }

    .demo-start__heading{
        font-size: 6.8rem;
    }

    .demo-start__dec{
        font-size: 1.8rem;
    }
    
}

/* tablet-mobile */

@media (max-width: 991px) {
    .text-center-t-m{
        text-align: center;
    }

    .review-form .title-heading__dec {
        text-align: center !important;
        margin-left: -18px;
    }

    .review-contact {
        text-align: center;
    }

    .review-contact__box{
        margin-left: unset;
    }

    .contact-des{
        max-width: 100% !important;
    }

    .contact-box-icon{
        margin-bottom: 32px;
    }

    .pricing-card {
        text-align: center;
        margin-bottom: 16px;
    }

    .footer-web{
        padding-bottom: 120px;
    }

    .footer-social {
        margin-bottom: 16px;
    }
}

/* low-pc */

@media (min-width: 992px) and (max-width: 1199px){
    .nav-btn__link{
        padding: 10px 8px;
    }
}

/* pc */

@media (min-width: 1200px){

}