:root{
    --web-color: #79a207;
    --web-font-color: #2d2d2d;
}

.display-block{
    display: block !important;
}

#header-svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    transform: rotate(180deg);
}

#header-svg:last-child{
    transform: rotate(0);
    bottom: 0;
    top: unset;
}

#header-svg path {
    fill: #FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    scroll-behavior: smooth;

}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    color: #2b2b2b;
    line-height: 26px;
    letter-spacing: .5px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    width: 12px;
    border-left: 0px solid white;
    border-right: 0px solid white;
}

::-webkit-scrollbar-thumb {
    background: #79a207;
    width: 0;
    height: 25%;
}

ul{
    list-style: none;
}


a{
    display: inline-block;
    text-decoration: none;
    color: #000;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

}

img{
    width: 100%;
    display: block;
}




.mb-16{
    margin-bottom: 16px;
}

.mt-16{
    margin-top: 16px;
}

.mr-16{
    margin-right: 16px;
}

.mr-0{
    margin-right: 0;
}


/* nav-list-web */

.box-nav-list{

}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-list__item{
    position: relative;
}

.nav-list__link{
    font-size: 15px;
    padding: 8px 10px;
    margin: 8px;
    color: var(--web-font-color);
    transition: all linear 0.25s;
}

.nav-list__link:hover{
    color: var(--web-color);
}


/* list-page */

.box-list__page{
    position: absolute;
    top: 50px;
    left: 10px;
    padding: 16px 8px;
    min-width: 240px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    display: none;
    z-index: 10;
}

.page-item{
    position: relative;
    transition: all ease .5s;
}

.page-item:hover{
    background-color: #f8f9fa;
}

.page-item:hover .page-link{
    color: var(--web-color);

}

.page-item:last-child::after{
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.15);
}

.page-link{
    font-size: 1.5rem;
    padding: 10px 24px;
    transition: all ease .5s;

}


.icon-page__arrow{

}

/* contact-web */

.contact-web{

}

.contact-social{
    display: flex;
}

.contact-social__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    text-align: center;
    margin: 16px 4px;
    color: var(--web-font-color);
    border-radius: 50%;
    transition: all linear 0.25s;
}

.contact-social__link:hover{
    color: #fff;
    background-color: var(--web-color);
}

.contact-social__icon{

}

.copyright-web{

}

.copyright-web__des{
    font-weight: 500;
}

.btn-web{
    padding: 8px 25px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 16px;
    background-color: #79a207;
    color: #FFFFFF;
    transition: .8s ease !important;
    border-radius: 25px;
    border: 1px solid var(--web-color);
}

.btn-web:hover{
    background-color: #2d2d2d;
    border: solid 1px #2d2d2d;
    color: #FFFFFF;
}

/* header-section */

.header-section{
    text-align: center;
}

.heading-section{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 25px;
}

.header-section-des{
    font-size: 16px;
    margin-bottom: 24px;
    font-family: 'Roboto', sans-serif;
    color: var(--web-font-color);
    opacity: .8;
}


.arrow-scroll-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    z-index: 10;
}

.arrow-top__link{
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: var(--web-color);

}

.arrow-top__icon{

}
