/* moblie */

@media (max-width: 767px){
    .header-web .shop-details{
        margin-right: 4px;
    }

    .header-menu{
        right: unset;
        left: 25px;
    }

    .shop-card{
        width: 100%;
    }

    .modal-menu{
        width: 100%;
    }
}

/* tablet */

@media (min-width: 768px) and (max-width: 991px){
    .header-menu{
        right: unset;
        left: 0;
    }

    .shop-card{
        width: 50%;
    }

    .modal-menu{
        width: 50%;
    }

    .modal-menu__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}

/* tablet-mobile */

@media (max-width: 991px) {
    .text-center{
        text-align: center;
    }

    .box-nav-list{
        display: none;
    }

    .contact-social{
        justify-content: center;
    }

    .copyright-web {
        text-align: center;
    }
}

/* low-pc */

@media (min-width: 992px) and (max-width: 1199px){
    .header-web .shop-details{
        justify-content: center;
    }

    .header-web-scroll .shop-details{
        justify-content: flex-start;
    }

    .header-menu{
        right: 0;
    }

    .modal-menu__container{
        height: 100%;
        justify-content: space-evenly;
    }

    .contact-social{
        justify-content: center;
    }

    .copyright-web {
        text-align: center;
    }
}

/* pc */

@media (min-width: 1200px){

}