/* moblie */

@media (max-width: 767px){
    .heading-section{
        font-size: 40px;
    }

    .header-web .shop-details{
        margin-right: 4px;
    }

    .header-menu{
        right: unset;
        left: 25px;
    }

    .shop-card{
        width: 100%;
    }

    .modal-menu{
        width: 100%;
    }

    .slider-container__header{
        font-size: 1.6rem;
    }

    .slider-content-heading__des{
        font-size: 2.9rem;
    }

    .slider-des{
        font-size: 1rem;
    }
    
    .btn-web{
        font-size: 1.3rem;
        padding: 8px 24px;
    }

    .btn-slide{
        display: none;
    }

    .box-slider-header{
        margin: 16px 0;
    }

    .box-slider-des{
        margin: 16px 0;

    }

    .box-service{
        border: none;
        margin-top: 32px;
    }

    .sale-container{
        margin-top: 150px;
    }

    .sale-product{
        left: 50%;
        top: -38%;
        transform: translate(-50%, -18%);
    }

    .icon-sale{
        display: block;
        margin-bottom: 16px;
    }

    .sale-container .box-btn-web{
        right: 50%;
        transform: translateX(50%);
        bottom: -4%;
    }

    .sale-container .heading-section{
        font-size: 40px;
    }

    .members-web .heading-section{
        line-height: 40px;
    }

    .members-web .box-arrow-icon{
        display: none !important;
    }
}

/* tablet */

@media (min-width: 768px) and (max-width: 991px){
    .header-menu{
        right: unset;
        left: 0;
    }

    .shop-card{
        width: 50%;
    }

    .modal-menu{
        width: 50%;
    }

    .modal-menu__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .slider-container__header{
        font-size: 2.2rem;
    }

    .slider-content-heading__des{
        font-size: 4.2rem;
    }

    .slider-des{
        font-size: 1.4rem;
    }

    .box-service:nth-child(2){
        border: none;
    }
    
    .box-service{
        margin-top: 32px;
    }

    .sale-product{
        left: 5%;
        top: 45%;
    }

    .sale-container .box-btn-web{
        right: 3%;
        
    }
}

/* tablet-mobile */

@media (max-width: 991px) {
    .text-center{
        text-align: center;
    }

    .box-nav-list{
        display: none;
    }

    .contact-social{
        justify-content: center;
    }

    .copyright-web {
        text-align: center;
    }

    .slider-container{
        margin: auto;
        text-align: center !important;
    }

    .slider-content{
        justify-content: center !important;
    }

    .slider-des{
        max-width: 100%;
    }

    .arrow-scroll-top{
        display: none;
    }

    .sale-content{
        padding: 0 20px !important;
    }
}

/* low-pc */

@media (min-width: 992px) and (max-width: 1199px){
    .header-web .shop-details{
        justify-content: center;
    }

    .header-web-scroll .shop-details{
        justify-content: flex-start;
    }

    .header-menu{
        right: 0;
    }

    .modal-menu__container{
        height: 100%;
        justify-content: space-evenly;
    }

    .contact-social{
        justify-content: center;
    }

    .copyright-web {
        text-align: center;
    }

    .slider-des{
        max-width: 100%;
    }

    .sale-content{
        padding: 0;
    }

    .sale-container .heading-section{
        width: 120%;
        text-align: left;
    }

    .sale-product{
        left: 1%;
        top: 45%;
    }
}

/* pc */

@media (min-width: 1200px){

}