

:root{
    --color: #592B1C;
    --font-16: 1.6rem;

}




*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}




html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #fff;
}

.display-block{
    display: block;
}



.slider-content__stt{
    display: flex;
    flex-direction: column;
}

.slider-stt-open{
    margin: 10px 20px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 40px;
}
.cursor{
    cursor: pointer;
}

.grid{
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.grid-row{
    display: flex;
    flex-wrap: wrap;
    margin: 5px -5px;
}

.grid-col-frist{
    width: 16.66667%;
    padding: 0 5px;
}

.grid-col-frist--center{
    width: 66.66668%;
    padding: 0 5px;
}

.grid-col{
    width: 20%;
    padding: 0 5px;
}


