

:root{
    --color: #592B1C;
    --font-16: 1.6rem;

}




*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}




html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #fff;
}

.display-block{
    display: block;
}


.font-12px{
    font-size: 12px;
}



.slider-content__stt{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
}

.slider-stt-open{
    margin: 10px 20px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 40px;
}
.cursor{
    cursor: pointer;
}


.grid-row{
    padding: 0 20px !important;
}


.margin-0{
    margin: 0;
}

.mt-10px{
    margin-top: 10px;
}

.ml-0{
    margin-left: 0px;
}

.maxWidth-100{
    max-width: 100%;
}

.grid-col-frist{
    width: 16.66667%;
    padding: 0 5px;
}

.grid-col-frist--center{
    width: 66.66668%;
    padding: 0 5px;
}

.grid-col{
    width: 25%;
    padding: 0 5px;
}

.modal-coating{
    position: absolute;
    background: rgba(000, 000, 000, 0.7);
    width: 100%;
    top: 0;
    height: 100%;
    right: 0;
    left: 0;

}

.width-60-mg-auto{
    width: 60%;
    margin: auto;
    text-align: left;
}

.font-20-cl-white{
    font-size: 20px;
    color: #fff;
    margin-top: 120px;
}

.color-white{
    color: #fff;
    margin-left: 0;
    margin-bottom: 40px;
}

.color-444444{
    color: #A39B99;
}

.margin-button-blog{
    font-size: 15px !important;
    position: relative;
    top: 35px;
    left: 18%;
}
.display-block{
    display: block;
}

.fix-place-user__info{
    max-width: 100%;
    text-align: left;
}

::-webkit-scrollbar{
    width: 10px;

}

::-webkit-scrollbar-track{
    background-color: #fff;
}

::-webkit-scrollbar-thumb{
    background-color: var(--color);
    height: 25%;
}