
    
    /* pc  */

@media (min-width:  1240px){

}

    /* low-pc */

@media (min-width: 1024px) and (max-width: 1239px){
    .header-navbar{
        padding: 10px 0 !important;
    }

    .navbar-logo-menu{
        right: 0;
        left: auto;
        padding: 30px;
        z-index: 5;
    }

    .navbar-item-link{
        padding: 10px 16px;
        margin-top: 5px;
    }

    .navbar-item-link-box{
        padding: 16px 32px;
        margin-right: 55px;
    }

    .navbar-item-link-box-icon{
        top: 12px;
    }

    .navbar-item-link-box:hover .navbar-item-link-box-icon{
        transform: translateX(8px);
    }

    .navbar-item-icon{
        top: -12px;
    }

    /* modal  */
    .modal-background{
        background-position: 50%;
    }

    .modal-header__container{
        top: 25%;
        bottom: 25%;
    }
    
    .modal_box-list li{
        text-align: left;
    }

    .modal-icon__out{
        top: 16px;
        left: 92%;
        padding: 20px;
    }

    .modal-order-container{
        top: 20%;
        bottom: 30%;
    }

    /* slider  */
    .slider-img{
        margin-left: -45%;
        display: block;
        width: 200%;
    }

    .slider-content__box-social{
        justify-content: center;
    }

    .slider-content{
        top: 35%;
    }

    .slider-content__box-title{
        max-width: 42%;
    }

}

    /* mobile && tablet */
@media (max-width: 63.9375em){
    .navbar-logo-menu{
        right: 0;
        left: auto;
        padding: 30px;
        z-index: 5;
    }
    
    .slider-img{
        width: 200%;
        margin-left: -45%;
    }

    .modal-header__content{
        justify-content: center;
        flex-direction: column;
        padding: 30px 0;
    }

    .modal_box-list li{
        text-align: center;
    }

    .modal_box-social{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modal-icon__out{
        top: 16px;
        left: 90%;
        padding: 20px;
    }
}

    /* tablet  */

@media (min-width:  46.25em) and (max-width: 63.9375em){
    .slider-content{
        top: 35%;
    }

    .slider-content__stt{
        margin-top: -30%;
    }
}

    /* mobile / */

@media (max-width: 46.1875em){
    .modal-inner-wrapper::-webkit-scrollbar{
        display: none;
    }

    .modal-inner-wrapper{
        padding: 48px;

    }

    .modal-header__content{
        border: none;
    }

    .navbar-logo-web{
        margin-left: 20px;
    }
    
    .modal-icon__out{
        padding: 20px;
        top: -1%;
        left: auto;
        right: 5px; 
    }

    .modal-header__logo{
        margin-bottom: 0;
    }

    .modal_box-social{
        margin-top: 42px;
    }

    .modal_box-social .slider-content__box-social{
        margin: 0;
    }

    .modal-social__credit{
        text-align: center;
    }

    .slider-img{
        width: 325%;
        margin-left: -85%;
        margin-top: 76px;
    }

    .slider-content{
        top: 25%;
    }

    .slider-content__box{
        justify-content: center;
    }

    .slider-content__box-title{
        margin-top: -9%;
        padding: 0 16px;
        text-align: center;
        max-width: 100%;
    }

    .slider-content__heading{
        font-size: 1.8rem;
    }

    .slider-content__title-name{
        font-size: 3rem;
    }

    .slider-content-recommend{
        font: 1.4rem;
    }
}