
    
    /* pc  */

@media (min-width:  1240px){
    .slider-content__stt{
        display: flex !important;
    }

    .slider-content__box-social{
        display: flex !important;
    }

    
}

    /* low-pc */

@media (min-width: 1024px) and (max-width: 1239px){
    .slider-content__stt{
        display: flex !important;
    }

    .slider-content__box-social{
        display: flex !important;
    }

    .slider-content__box{
        max-width: 42% !important;
    }

    .slider-stt--social{
        margin: 5px 15px;
    }

    .header-navbar{
        padding: 20px 0 !important;
    }

    .header-navbar .row{
        justify-content: flex-start;
    }

    .navbar-logo-menu{
        right: 0;
        left: auto;
        padding: 30px;
        z-index: 5;
    }

    .navbar-item-link{
        margin-top: 5px;
    }

    .navbar-item-link-box{
        padding: 16px 32px;
        margin-left: 8px;
    }

    .navbar-item-link-box-icon{
        top: 12px;
    }

    .navbar-item-link-box:hover .navbar-item-link-box-icon{
        transform: translateX(15px);
        margin-top: 3px;
    }

    .navbar-item-icon{
        top: -12px;
    }

    .navbar-item{
        min-width: 120px;
    }

    /* modal  */
    .modal-background{
        background-position: 50%;
    }

    .modal-header__container{
        top: 25%;
        bottom: 25%;
    }
    
    .modal_box-list li{
        text-align: left;
    }

    .modal-icon__out{
        top: 16px;
        left: 92%;
        padding: 20px;
    }

    .modal-order-container{
        top: 20%;
        bottom: 30%;
    }


    /* slider  */
    .slider-img{
        margin-left: -45%;
        display: block;
        width: 200%;
    }

    .slider-content{
        top: 35%;
    }

    .ctn-content{
        margin-bottom: 60px;
    }

    .coffee-modal-name{
        font-size: 2rem;
    }

    .coffee-menu__box--img:hover .coffee-menu__box--modal-content{
        transform: translateY(-15px);
    }

    .margin-button-blog{
        font-size: 15px !important;
        position: relative;
        top: 35px;
        left: 17%;
    }

    .container-place__img{
        width: 500px;
        height: 550px;
    }

    .place-user__info--btn:hover .place-user__info--btn-icon{
        transform: translateX(95px);
    }

    .slider-stt--social:hover{
        margin: 5px 15px;
    }
    
}

    /* mobile && tablet */
@media (max-width: 63.9375em){
    .navbar-logo-menu{
        right: 0;
        left: auto;
        padding: 30px;
        z-index: 5;
    }

    .header-coffee .navbar-list{
        display: none;
    }
    
    .slider-img{
        width: 200%;
        margin-left: -45%;
    }

    .modal-header__content{
        justify-content: center;
        flex-direction: column;
        padding: 30px 0;
    }

    .modal_box-list li{
        text-align: center;
    }

    .modal_box-social{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modal-icon__out{
        top: 16px;
        left: 90%;
        padding: 20px;
    }

    .ctn-content-info{
        flex-direction: column;
        text-align: center;
    }

    .ctn-content-info--about{
        margin: unset;
        margin-top: 16px;
    }

    .ctn-content__box-img{
        margin: 32px 0;
    }

    .container-heading{
        margin-bottom: 50px;
        text-align: center;
    }

    .ctn-content{
        margin-bottom: 60px;
    }

    .coffee-modal-name{
        font-size: 2rem;
    }

    .ctn-heading-content__m-t{
        max-width: 100% !important;
    }

    .container__blog-box-content{
        width: 100%;
        padding-bottom: 100px;
    }

    .container__blog-box-img{
        width: 100%;

    }

    .navbar-item-link-box{
        margin-left: 0;
    }

}

    /* tablet  */

@media (min-width:  46.25em) and (max-width: 63.9375em){
    .slider-img {
        width: 270%;
        margin-left: -80%;
    }

    .slider-content__heading{
        font-size: 2rem;
    }

    .slider-content__title-name{
        font-size: 4rem;
    }

    .slider-content-recommend{
        font-size: 1.6rem;
    }

    .slider-content__btn{
        font-size: 1.4rem;
    }

    .ctn-heading-intro{
        font-size: 2.2rem;
    }

    .ctn-heading-title{
        font-size: 3.2rem;
    }

    .ctn-heading-content{
        font-size: 1.6rem;
        max-width: 80%;
        line-height: 3rem;
        margin: 0 auto;
    }

    .coffee-menu__box--img:hover .coffee-menu__box--modal-content{
        transform: translateY(-25px);
    }

    .container-review__box-img {
        max-width: 90%;
        margin-top: 70px;
        text-align: center;

    }

    .container-review__img {
        max-width: 80%;
    }

    .container__coffee--review{
        padding: 96px 0;
    }

    .margin-button-blog{
        font-size: 15px !important;
        position: relative;
        top: 0px;
        left: 50%;
        transform: translateX(-60%);
    }

    .container__blog--img{
        min-height: 400px;
    }

    .place-user__info--btn{
        left: 60% !important;
    }

    .container-place__img{
        width: 90%;
        height: 93%;
    }

    .footer-coffee .modal_box-social{
        margin-top: 0;
    }

    .place-user__info--btn-icon{
        transform: translateX(90px);
    }

    .place-user__info--btn:hover .place-user__info--btn-icon{
        transform: translateX(56px);
    }

}

    /* mobile / */

@media (max-width: 46.1875em){
    .modal-inner-wrapper::-webkit-scrollbar{
        display: none;
    }

    .modal-inner-wrapper{
        padding: 48px;

    }

    .modal-header__content{
        border: none;
    }

    .main .header-top{
        background-color: var(--color) !important;
    }

    .navbar-logo-web{
        margin-left: 20px;
    }
    
    .modal-icon__out{
        padding: 20px;
        top: -1%;
        left: auto;
        right: 5px; 
    }

    .modal-header__logo{
        margin-bottom: 0;
    }

    .modal_box-social{
        margin-top: 42px;
    }

    .modal_box-social .slider-content__box-social{
        margin: 0;
    }

    .modal-social__credit{
        text-align: center;
    }

    .slider-img{
        width: 325%;
        margin-left: -85%;
        margin-top: 76px;
    }

    .slider-content{
        top: 25%;
    }


    .slider-content__box-title{
        margin-top: -9%;
        padding: 0 16px;
        text-align: center;
        max-width: 100%;
    }

    .slider-content__heading{
        font-size: 1.8rem;
    }

    .slider-content__title-name{
        font-size: 3rem;
    }

    .slider-content-recommend{
        font: 1.4rem;
    }

    .ctn-heading-intro{
        font-size: 1.8rem;
    }

    .ctn-heading-title{
        font-size: 2.8rem;
    }

    .ctn-heading-content{
        font-size: 1.4rem;
        max-width: 90%;
        line-height: 3rem;
        margin: 0 auto;
    }

    .coffee-menu__box--img:hover .c-hover{
        transform: translateY(-30px);
    }

    .container-review__box-img{
        text-align: center;
    }
    
    .container-review__img{
        max-width: 85%;
    }

    .col-rever{
        flex-direction: column-reverse;
    }

    .container__coffee--review{
        padding: 96px 0;
    }
    .ctn-content-info--about-content{
        max-width: 90%;
        display: block;
        margin: auto;
    }

    .margin-button-blog{
        font-size: 15px !important;
        position: relative;
        top: 0px;
        left: 50%;
        transform: translateX(-58%);
    }

    .width-60-mg-auto{
        width: 100%;
    }

    .container__blog--img{
        min-height: 200px;
    }

    .place-user__info--btn{
        transform: translateX(0) !important;
    }

    .container__place-info{
        margin-bottom: 30px;
    }

    .container__coffee--place{
        padding: 40px 0;
    }

    .grid-row{
        padding: 0 10px !important;
    }

    .container-place__img{
        width: 100%;
        height: 450px;
    }

    .footer-coffee .modal_box-social{
        margin-top: 25px;
    }

    .place-user__info--btn-icon{
        transform: translateX(140px);
    }

    .place-user__info--btn:hover .place-user__info--btn-icon{
        transform: translateX(100px);
    }

}